body {
	background-image: url(back.jpeg) ;
	background-repeat: no-repeat;
	background-size: 100%;

}

.areaprincipal {
	margin-top: 10px;
    margin-left: 25px;
	margin-right: 25px;
	font-size: 23px;
	color: #eead2d;
	font-family: arial;
	text-align: center;
}

.cordotexto {
	color: white;
	font-size: 23px;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
	width: 100%;
	background-image: linear-gradient(#2D2727, #444444);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
}

.container-logo{
	display: flex;
	align-items: center;

}

.menu li{
	display: inline-block;
	margin: 0 10px;
}

.menu li a{
	font-size: 24px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 10px 15px;
	border-radius: 10px;

}

.menu li a:hover{
	background-color: rgba(100, 100, 100, 0.5);
}
.areaprincipal p a{
	color: white;
    text-decoration: none;
}

p{
    padding: 15px;
}

.logo-imagem{
	width: 36px;
	height: 50px;
	background-image: url(mãozumbi.png);
	margin-left: 10px;
	margin-top: 5px;
}

.logo-texto{
	margin-left: 10px;
}

.pdf{
	width: 70%;
    padding: 20px;
	text-align: left;
}

.footer{
	height: 150px;
	background-image: linear-gradient(#2D2727, #444444);
}

.footer h2{
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 20px;
	text-align: left;
	color: white;
	display: inline-block;
	margin: 0 10px;
	
}

.footer p{
	font-family: arial;
	font-size: 20px;
	font-weight: lighter;
	text-align: left;
	text-transform: unset;
	color: white;
	margin-top: 20px;
	display: inline-block;
	margin: 0 10px;


}

.logo-rede{
	margin-top: 20px;
}
